footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #255;
    padding: 1rem;
    font-family: "Dosis";
    color: white;
    box-sizing: border-box;
}
section {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
}
h2 {
    color: white;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 18px;
    letter-spacing: 1rem;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
    border-bottom: white;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    font-size: 17px;
    letter-spacing: normal;
    align-items: center;
}
:hover a {
    border-bottom: 1px solid white;
    margin-bottom: 12px;
}