* {
   display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: stretch;
}
.main-nav {
    display: flex;
    box-sizing: border-box;
    background-color: rgb(23, 28, 110);
    justify-content: space-between;
    
}
.sub-nav {
    display: flex;
}
.main-nav.short-width {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    flex-direction: row
    justify-content: flex-end;
    flex-wrap: nowrap;
}
.main-nav.full-width {
    box-sizing: border-box;
    display: none;
    flex-direction: row;
    flex-wrap: nowrap;
}
@media screen {
    display flex: {}main-nav;.full-width{};; .main-nav.short-width};
    min-width: 768px;
}
.nav-list {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: right;
}
.nav-list li:last-of-type a { 
    color: white;
    box-sizing: border-box;
}

.horizontal nav-list.li {
    color: white
    box-sizing: border-box
}
.sub-nav.searh-form {
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: max-content;

}
.input {
    box-sizing: border-box;
    display: flex;
    padding: 1rem;
    border-bottom: rgb(23, 28, 110); 
    flex-grow: inherit;
}
.button {
    box-sizing: border-box;
    display: flex;
    padding: 1rem;
}
.company-name {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    color:rgb(23, 28, 110)
    flex-direction: column;

}
.credit-offer {
    box-sizing: border-box;
    color: red;
}


nav {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    flex-grow: 1;
}
.nav-list li {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    color: white;
    flex-grow: 1;
}